attached_assets/openclaw-main_1779062058981.zip filter=lfs diff=lfs merge=lfs -text
attached_assets/antigravity-awesome-skills-main_1779131186013.zip filter=lfs diff=lfs merge=lfs -text
attached_assets/claude-code-best-practice-main_1779131612614.zip filter=lfs diff=lfs merge=lfs -text
attached_assets/open-design-main_1779131319205.zip filter=lfs diff=lfs merge=lfs -text
